---
import type { LandingContent } from "../data/locales";

interface Props {
  content: LandingContent;
}

const { content } = Astro.props;
---

<footer class="site-footer">
  <p>{content.footer.copyright}</p>
  <div>
    {content.footer.links.map((link) => <a href={link.href}>{link.label}</a>)}
  </div>
</footer>
